apiVersion: v1
kind: Secret
metadata:
  name: vault-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "address": "http://vault.vault:8200",
      "tls": true,
      "insecure": true,
      "token": "VAULT_TOKEN",
      "path": "nats-secrets"
    }
